<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/{{ base_path }}/style.css">
</head>

<body id="{{ slug }}">

    <nav>
        <section>
            <span class="home">
                <a href="/{{ base_path }}/">Home</a>
            </span>
            <span class="links">
                //
                <a href="/{{ base_path }}/contact.html">Contact</a>
                //
                <a href="/{{ base_path }}/resume.html">Resume</a>
                //
                <a href="/{{ base_path }}/projects.html">Projects</a>
            </span>
        </section>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <section>
            <p>&copy; {{ current_year }} Tushar Chandra
                (<a href="https://github.com/tuchandra">GitHub</a> // <a href="https://tusharc.dev/">Website</a>)
            </p>
        </section>
    </footer>

</body>

</html>